html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #E8C07D;
  ;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/material-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}
.container{
  
}

.reply-chain-item +.reply-chain-item {
  padding-top: 1em;
  border-top: 1px dashed #9FC088;
  }

  .button,.navbar.is-info, .notification.is-clearfix, .dugme, .button.is-info.is-fullwidth {
    background-color: #9FC088;
    color: #614124;
    border-color: #614124;
    border-inline-width: 5;
    border-style: groove;
  }

  .media-content{
    border-color: black;
    border-style: ridge;
    border-inline-width: 50;
    padding: 18px;
  }



  .button.is-primary{
    background-color: #9FC088;
    color: #614124;
    border-color: #614124;
    border-inline-width: 5;
  }

  .card {
    background-color: #E8C07D;
    border-color: #614124;
    border-style: groove;
    border-inline-width: 50;
  }